* {
    box-sizing: border-box;
    margin:0;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
}

button:focus,
button:active 
input:focus,
input:active 
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left:0 ;
}

p {
    font-size: 16px;
    line-height: 1.33333;
    color: #0C090A;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* navigation */
.navigation {
    background-color: rgba(220,220,220,0.5);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #29465B;
}

.navigation ul {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation ul li:first-child {
    display:block;
    padding-top:5px;
}

.navigation ul li:last-child {
    display:block;
    padding-bottom:5px;
}

/* header */
header h1 {
    font-weight: 700;
    display:block;
    margin-top:20px;
    margin-left:10px;
}

/* bookmark */
.bookmark-div {
    border: 5px solid #87AFC7;
    border-radius: 4px;
    margin: 10px 0;
}

.greeting {
    font-size:18px;
    color: #2B3856;
}

.fav {
    font-size:20px;
    font-weight:700;
}

/* service */
.korea-service article,
.foreign-service article {
    border-radius: 20px;
    background: #D1D8EC;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

.korea-service article h1 {
    text-align: center;
}

.melon,
.genie,
.flo,
.bugs,
.vibe,
.applemusic,
.spotify,
.youtube {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.melon img,
.genie img,
.flo img,
.bugs img,
.applemusic img,
.spotify img {
    width:150px;
}

.vibe img {
    width:180px;
}

.youtube img {
    width:200px;
}
