* {
    box-sizing: border-box;
    margin:0;
}

/* Reset CSS */
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
}

button:focus,
button:active 
input:focus,
input:active 
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left:0 ;
}

p {
    font-size: 16px;
    line-height: 1.33333;
    color: #0C090A;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 60px;
}

/* navigation */
.navigation {
    background-color: rgba(220,220,220,0.5);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #29465B;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:70px;
}

.navigation ul {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation ul li:first-child {
    display:block;
    padding-top:5px;
}

.navigation ul li:last-child {
    display:block;
    padding-bottom:5px;
}

/* header */
header h1 {
    font-weight: 700;
    display:block;
    margin-top:20px;
    margin-left:10px;
}

/* bookmark */
.greeting {
    font-size:20px;
    font-weight: 700;
    color: #2B3856;
    margin-left:10px;
}

.fav {
    font-size:20px;
    font-weight:700;
    border: 2px solid #87AFC7;
    border-radius: 10px;
    margin: 10px 0;
}

.fav strong {
    font-size:25px;
    margin-left:10px;
    color: #C11B17;
}

.fav span {
    margin-left:10px;
    font-size:15px;
    font-weight: 400;
    color: #DC381F;
}

/* service */
.korea-service article,
.foreign-service article {
    border-radius: 20px;
    background-color: rgba(209,216,236,0.4);
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

.korea-service article h1 {
    text-align: center;
}

.service-title {
    display:block;
    margin-top:20px;
    margin-left:10px;
}

.melon,
.genie,
.flo,
.bugs,
.vibe,
.applemusic,
.spotify,
.youtube {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-bottom: 20px;
    width:280px;
    height: 280px;
}

.melon p,
.genie p,
.flo p,
.bugs p,
.vibe p,
.applemusic p,
.spotify p,
.youtube p {
    text-align: center;
}

.melon,
.applemusic {
    margin-top: 30px;
}

.melon-logo,
.genie-logo,
.flo-logo,
.bugs-logo,
.applemusic-logo,
.spotify-logo {
    width:150px;
}

.vibe-logo {
    width:180px;
}

.youtubemusic-logo {
    width:200px;
}

.notice {
    font-size:15px;
    color: lightslategray;
}

/* 실험중 */
.heart {
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.active {
    background-color: pink;
}

